certifi==2021.5.30
chardet==4.0.0
dataretrieval==0.7
idna==2.10
mailchimp-marketing==3.0.49
numpy==1.21.0
pandas==1.2.5
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
requests==2.25.1
six==1.16.0
urllib3==1.26.5
