certifi==2022.6.15
charset-normalizer==2.0.12
dataretrieval==0.7
future==0.18.2
idna==3.3
mailchimp-marketing==3.0.75
numpy==1.22.4
pandas==1.4.3
progressbar2==4.0.0
pygam==0.8.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-utils==3.3.3
pytz==2022.1
requests==2.28.0
scipy==1.8.1
six==1.16.0
urllib3==1.26.9
